@import "material-you";

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 6px;
}

@media (max-width: 768px) {
  .section,
  .section.reverse {
    flex-direction: column;
    text-align: center;
  }

  .image img {
    max-width: 100%;
  }

    .image2 img {
	margin-top: -2.5rem;
    max-width: 100%;
  }

}


/* Estrutura base */
.section {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;

  	&__section-text {
		font-size: 1.5rem;
		font-weight: 600;
		margin-bottom: 1rem;
	}
		&__detail {
		&:first-of-type {
			margin-bottom: -0.5rem;
			margin-left: 2rem;
		}
	}

	  	&__section-text2 {
		font-size: 1.5rem;
		font-weight: 600;
		margin-bottom: 1rem;
		margin-top: -7rem;
	}
		&__detail {
		&:first-of-type {
			margin-bottom: -0.5rem;
			margin-left: 2rem;
		}
	}
	
}
.title {
			margin-bottom: 2rem;
			margin-left: 2rem;
			margin-top: 2.3rem;
			margin-right: 1.5rem;

			  	&__title {
		font-size: 1.5rem;
		font-weight: 600;
		margin-bottom: 0rem;
		
	}
		&__detail {
		&:first-of-type {
			margin-bottom: -0.5rem;
			margin-left: 2rem;
		}
	}
}

/* Inverte imagem/texto */
.section.reverse {
  flex-direction: row-reverse;
}

/* Imagem */
.image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Texto */
.text {
  flex: 1;
}


.text h2 {
  font-size: 28px;
  margin-bottom: 16px;
  color: #083480;
}

.text p {
  font-size: 18px;
  line-height: 1.6;
  color: #444;
}



