<div class="page-container">

  <!-- BLOCO 1 -->
  <section class="section">
    <div class="image">
      <img src="assets/img/img3.png" alt="Foto 1">
    </div>
	
    <div class="title">
		<h1 class="section__section-text" itemprop="name">{{this.text}}</h1>
			<p>
			{{this.text2}}<br>
			{{this.text3}}<br>
			{{this.text4}}<br>
			{{this.text5}}<br>
			{{this.text6}}<br><br><br>
			</p>
    </div>
  </section>

  <!-- BLOCO 2 -->
  <section class="section">
  	<div class="title">
<h1 class="section__section-text2" itemprop="name">{{this.text7}}</h1>
		<p>
			{{this.text8}}<br>
			{{this.text9}}<br>
			{{this.text10}}<br>
			{{this.text11}}<br>
			{{this.text12}}<br><br><br>
		</p>
    </div>
		    <div class="image2">
      <img src="assets/img/img4.png" alt="Foto 1">
    </div>


  </section>

</div>



