@import "material-you";

:host {
	flex-grow: 1;
	display: flex;
	align-items: stretch;
	margin-bottom: 2rem;
}

.cover {
  position: relative;
  padding-top: 4rem;
  width: 100%;
  max-width: 60%;
  overflow: hidden;
}
  
@media (max-width: 968px) {
.cover {
padding-top: 7rem;
	width: 90%;
	max-width: 110%;
	}
}



.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* garante que a imagem preencha sem distorcer */
}


.hero-banner {
	@include material-container--primary;

	// background: linear-gradient(
	// #{var(--md-sys-color-primary-container)} 50%,
	// #{var(--md-sys-color-secondary-container)});

	display: flex;
	padding: $full-container-padding;
	border-radius: 0rem;
	position: relative;
	overflow: hidden;
	flex-grow: 1;
	clip-path: inset(0 round 0rem 0rem $container-border-radius $container-border-radius);
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	transition: min-height $theme-transition-speed ease, background $theme-transition-speed ease, color $theme-transition-speed ease;

	@include media-breakpoint-down(lg) {
		min-height: 75vh;
	}

	@include media-breakpoint-down(md) {
		min-height: 50vh;
	}

	&__text-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding-top: 1rem;
		width: 75%;

		@include media-breakpoint-down(md) {
			width: 100%;
		}
	}

	&__header {
		font-weight: 600;
		font-size: 4rem;
		margin: 0rem 0rem;
		margin-bottom: 1.5rem;

		@include media-breakpoint-down(lg) {
			font-size: 3rem;
			margin-bottom: 2rem;
		}
	}

	&__subheader {
		font-weight: normal;
		font-size: 1.6rem;
		margin-bottom: auto;

		&__cidade{
			padding-top: 1rem;
			font-size: medium;
		}
	}

	&__img {
		top: 0;
		right: 0;
		position: fixed;
		width: 100%;
		height: 100%;
		aspect-ratio: 16/9;
		z-index: -1;
		// -webkit-mask: linear-gradient(to right, transparent 45%, #000);
		// mask: linear-gradient(to right, transparent 45%, #000);
		transition: opacity $theme-transition-speed ease;
		user-select: none;
		object-position: center;
		object-fit: cover;
		opacity: 25%;
		max-width: 100%;
		filter: blur(10px);
		// min-height: 50vh;

		&--first-image-disabled {
			opacity: 0;
		}

		&--second-image-disabled {
			opacity: 0;
		}

		&--custom-image-disabled {
			opacity: 0;
		}
	}

	&__external-icons {
		display: flex;
		margin-top: 4rem;
		gap: 1rem;
	}

	&__external-icon-link {
		color: inherit;
	}

	&__waves {
		position: absolute;
		width: 100%;
		height: 15vh;
		margin-bottom: -7px;
		/*Fix for safari gap*/
		min-height: 100px;
		max-height: 150px;
		bottom: 0;
		left: 0;

		@include media-breakpoint-down(lg) {
			height: 75px;
			min-height: 75px;
		}
	}

	&__wave-parallax {
		& > use {
			animation: wave-animation 25s cubic-bezier(.55, .5, .45, .5) infinite;
			transition: fill $theme-transition-speed ease;
		}

		& > use:nth-child(1) {
			animation-delay: -2s;
			animation-duration: 7s;
			opacity: 0.5;
			fill: #{var(--md-sys-color-on-primary)};
		}

		& > use:nth-child(2) {
			animation-delay: -3s;
			animation-duration: 10s;
			opacity: 0.5;
			fill: #{var(--md-sys-color-secondary)};
		}

		& > use:nth-child(3) {
			animation-delay: -4s;
			animation-duration: 13s;
			opacity: 0.5;
			fill: #{var(--md-sys-color-tertiary)};
		}

		& > use:nth-child(4) {
			animation-delay: -5s;
			animation-duration: 20s;
			opacity: 0.75;
			fill: #{var(--md-sys-color-primary)};
		}
	}
}

@keyframes wave-animation {
	0% {
		transform: translate3d(-90px, 0, 0);
	}

	100% {
		transform: translate3d(85px, 0, 0);
	}
}

.footer {
	@include material-container--primary;
	border-radius: $container-border-radius $container-border-radius 0 0;
	display: flex;
	flex-direction: column;
	padding: 0rem $side-container-padding;
	padding-bottom: calc($upper-bottom-container-padding / 2);
	margin-top: 6rem;
	position: relative;
	flex-grow: 1;
    min-height: 10vh;
	align-items: center;
	justify-content: center;
	

	&__scroll-header {
		margin-top: 11.5rem 90%;
		margin-bottom:  1%;


		@include media-breakpoint-down(md) {
			margin-top: -2.75rem;
		}
	}

	&__scroll-to-bot-container {
		@include theme-transition;
		@include material-colored--primary;
		@include material-mask--zany-square;
		width: 3rem;
		height: 3rem;
		padding: 0rem;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;

		&:hover {
			@include material-inverted--primary;
		}
		@include media-breakpoint-down(md) {
			width: 3.5rem;
			height: 3.5rem;
			padding: 0.75rem;
		}
	}
}
